[package]
name = "zml_tokenizer_hftokenizers"
version = "0.1.0"
edition = "2021"

[dependencies]
tokenizers = { version = "0.22.2", default-features = false, features = [
    # We don't need/want the progressbar feature
    "onig",
    "esaxx_fast",
] }

[lib]
name = "zml_tokenizer_hftokenizers"
path = "hftokenizers.rs"
