{% for message in messages %}{% if message['role'] == 'user' %}{{ 'GPT4 Correct User: ' + message['content'] + eos_token }}{% elif message['role'] == 'system' %}{{ message['content'] + eos_token }}{% elif message['role'] == 'assistant' %}{{ 'GPT4 Correct Assistant: '  + message['content'] + eos_token }}{% endif %}{% if loop.last %}{{ 'GPT4 Correct Assistant: ' }}{% endif %}{% endfor %}