name: commit
on:
  push:
    branches:
    - master
    tags:
    - '*'
  pull_request:

env:
  ZIG_VERSION: 0.14.0
  BAZELISK_VERSION: 1.25.0
  ZIG_CACHE: 'false'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'master')}}

jobs:
  test:
    runs-on: ["runs-on","runner=4cpu-linux-x64", "image=ubuntu24-amd64", "run-id=${{ github.run_id }}"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: ${{ env.ZIG_VERSION }}
          cache: ${{ env.ZIG_CACHE }}

      - name: Zig Format
        run: zig fmt --check  $(git ls-files --exclude-standard -- '*.zig' | xargs)

      - name: No autofix in Zig code
        run: bash -c "! git grep -l '// autofix' -- '*.zig'"

      - name: Setup bin directory
        run: |
          mkdir -p $HOME/bin
          echo "$HOME/bin" >> $GITHUB_PATH

      - name: Setup Bazel
        run: |
          wget https://github.com/bazelbuild/bazelisk/releases/download/v1.19.0/bazelisk-linux-amd64
          chmod +x bazelisk-linux-amd64
          mv bazelisk-linux-amd64 $HOME/bin/bazel
      
      - name: ZML / bazel mod explain
        run: bazel mod explain

      - name: ZML / bazel mod graph
        run: bazel mod graph

      - name: ZML / bazel query //...
        # Neuron is currently broken cf https://github.com/zml/zml/pull/111 so we skip it until it's fixed
        run: bazel query //... -- -//runtimes/neuron/...

      - name: ZML / bazel build //...
        run: bazel build --config=debug --verbose_failures //... -- -//runtimes/neuron/...

      - name: ZML / bazel test //...
        run: bazel test --config=debug --verbose_failures --keep_going --test_output=streamed --test_tag_filters=-no_ci //... -- -//runtimes/neuron/...

      - name: Examples / bazel mod explain
        working-directory: examples/
        run: bazel mod explain

      - name: Examples / bazel mod graph
        working-directory: examples/
        run: bazel mod graph

      - name: Examples / bazel query //...
        working-directory: examples/
        run: bazel query //...

      - name: Examples / bazel build //...
        working-directory: examples/
        run: bazel build --config=debug --verbose_failures --build_tag_filters=-no_ci //...

      # Todo: uncomment when we have our first tests in examples, Bazel return code is not 0 if there are no tests
      # - name: Examples / bazel test //...
      #   working-directory: examples/
      #   run: bazel test --config=debug --verbose_failures --keep_going --test_output=streamed --build_tag_filters=-no_ci --test_tag_filters=-no_ci //...
